@import "styles/_variables";

#app {
  //max-width: 1280px;
  //margin: 0 auto;
  //padding: 2rem;
  //width: 100%;
  //font-weight: normal;
}
a {
  text-decoration: none;
}
svg {
  width: 20px;
  height: 20px;
}
.border {
  border: 1px solid $lightgrey;
  &-out {
    outline: 1px solid $lightgrey;
  }
}
* {
  user-select: none;
}
