$border: 1px solid black;
$b-radius: 8px;

$blue: #0066FF;
$lightgrey: #DFE4EF;
$grey: #D3D8DF;
$greyhover: #A0A5AC;

$pink: #8E9CBB;
$redpink: #FF238D;

$blue-boxshadow: 0px 3px 16px rgba(0, 102, 255, 0.7);
